Repository rafaeljfec2/connexto-minc-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor: update schedule query ordering to sort by date and time in ascending order for improved clarity
  apps/api/src/schedules/schedules.service.ts
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: enhance schedule grouping by services in ScheduleGroupItem and update related components to support service-based organization
  apps/web/src/components/schedules/ScheduleGroupItem.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/schedules/components/SchedulesDesktopList.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileView.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: adjust padding and margins in SchedulesMobileView and SchedulesSearchBar for improved layout consistency
  apps/web/src/pages/schedules/components/SchedulesMobileView.tsx
  apps/web/src/pages/schedules/components/SchedulesSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: remove unnecessary padding in SchedulesSearchBar for improved layout consistency
  apps/web/src/pages/schedules/components/SchedulesSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: simplify data fetching in hooks by removing caching logic for improved clarity and performance
  apps/web/src/hooks/useChurches.ts
  apps/web/src/hooks/useMinistries.ts
  apps/web/src/hooks/usePeople.ts
  apps/web/src/hooks/useSchedules.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/hooks/useTeams.ts
  apps/web/src/hooks/useUsers.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: flatten schedule data structure in SchedulesMobileListContent for improved rendering and mobile compatibility
  apps/web/src/pages/schedules/components/ScheduleListItem.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: enhance SchedulesMobileListContent to display grouped schedules with date headers for improved readability
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: implement accordion component in SchedulesMobileListContent for better organization of grouped schedules
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: enhance team sorting and update logic in Teams service and UI for improved user experience
  apps/api/src/teams/teams.service.ts
  apps/mobile/src/screens/TeamsScreen/TeamsScreen.tsx
  apps/web/src/hooks/useTeams.ts
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/utils/naturalSort.ts
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: implement standard CRUD service creation and enhance schedule data transformation for improved API interactions
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor: adjust padding in PersonFormPage and update comments in PersonFormHeader for improved layout and clarity
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/pages/people/PersonFormPage.tsx
  apps/web/src/pages/people/components/PersonFormHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: adjust layout and spacing in PersonFormPage and PersonFormHeader for improved visual consistency
  apps/web/src/pages/people/PersonFormPage.tsx
  apps/web/src/pages/people/components/PersonFormHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: update check-in time validation and QR code expiration logic for improved accuracy in check-in process
  apps/api/src/checkin/checkin.service.ts
  apps/api/src/checkin/utils/checkin-time.utils.ts
  apps/web/src/App.tsx
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/components/routing/AppLayout/components/DesktopHeader.tsx
  apps/web/src/components/routing/AppLayout/components/MainContent.tsx
  apps/web/src/components/routing/AppLayout/components/MobileFooter.tsx
  apps/web/src/components/routing/AppLayout/components/MobileHeader.tsx
  apps/web/src/components/routing/AppLayout/hooks/usePageType.ts
  apps/web/src/components/routing/AppLayout/hooks/useServiceWorker.ts
  apps/web/src/components/routing/AppLayout/utils/getMainClassName.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

refactor: streamline DashboardPage layout and enhance UpcomingServicesMobile component for improved schedule handling and user experience
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/dashboard/components/DashboardHeader.tsx
  apps/web/src/pages/dashboard/components/EmptyStateCard.tsx
  apps/web/src/pages/dashboard/components/NextServiceCard.tsx
  apps/web/src/pages/dashboard/components/StatsCards.tsx
  apps/web/src/pages/dashboard/components/UpcomingServicesMobile.tsx
  apps/web/src/pages/dashboard/hooks/useNextService.ts
  apps/web/src/pages/dashboard/hooks/useUpcomingSchedules.ts
  apps/web/src/pages/dashboard/utils/formatNextService.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add member removal functionality in TeamDetailsPage with confirmation dialog and update API service for member deletion
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/teams/components/LeaderCard.tsx
  apps/web/src/pages/teams/components/MemberItem.tsx
  apps/web/src/pages/teams/components/MembersList.tsx
  apps/web/src/pages/teams/components/TeamHeader.tsx
  apps/web/src/pages/teams/components/TeamProfile.tsx
  apps/web/src/pages/teams/components/TeamTabs.tsx
  apps/web/src/pages/teams/hooks/useTeamMemberRemoval.ts
  apps/web/src/pages/teams/hooks/useTeamMembers.ts
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: add ministry name display in TeamProfile component and update TeamDetailsPage to fetch ministry data
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/teams/components/TeamProfile.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: implement member addition functionality in TeamDetailsPage with modal and update API service for adding members
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/teams/components/AddMemberModal.tsx
  apps/web/src/pages/teams/components/MembersList.tsx
  apps/web/src/pages/teams/components/TeamHeader.tsx
  apps/web/src/pages/teams/hooks/useTeamMemberAddition.ts
  apps/web/src/pages/teams/hooks/useTeamMembers.ts
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: wrap App component in ErrorBoundary for improved error handling and export Modal component from its new location
  apps/web/src/App.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/ui/Modal.tsx
  apps/web/src/components/ui/Modal/Modal.tsx
  apps/web/src/components/ui/Modal/README.md
  apps/web/src/components/ui/Modal/components/ModalBackdrop.tsx
  apps/web/src/components/ui/Modal/components/ModalContainer.tsx
  apps/web/src/components/ui/Modal/components/ModalContent.tsx
  apps/web/src/components/ui/Modal/components/ModalHeader.tsx
  apps/web/src/components/ui/Modal/hooks/useModalBodyLock.ts
  apps/web/src/components/ui/Modal/hooks/useModalKeyboard.ts
  apps/web/src/components/ui/Modal/index.ts
  apps/web/src/components/ui/Modal/utils/modalSizes.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: enhance GuestVolunteerModal to prevent unnecessary API calls and improve state management
  apps/api/src/schedules/entities/schedule.entity.ts
  apps/web/src/pages/CheckinPage.tsx
  apps/web/src/pages/checkin/components/GuestVolunteerModal.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: integrate @tanstack/react-query and @tanstack/react-query-devtools for improved data fetching and state management across the application
  apps/web/REACT_QUERY_IMPLEMENTATION.md
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/SidebarChurchSelector.tsx
  apps/web/src/contexts/ChurchContext.tsx
  apps/web/src/hooks/queries/useChurchesQuery.ts
  apps/web/src/hooks/queries/useMinistriesQuery.ts
  apps/web/src/hooks/queries/usePeopleQuery.ts
  apps/web/src/hooks/queries/useSchedulesQuery.ts
  apps/web/src/hooks/queries/useServicesQuery.ts
  apps/web/src/hooks/queries/useTeamsQuery.ts
  apps/web/src/lib/queryClient.ts
  apps/web/src/pages/AccessCodesPage.tsx
  apps/web/src/pages/ChurchesPage.tsx
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/access-codes/examples/AccessCodesPageWithSorting.example.tsx
  apps/web/src/pages/dashboard/components/DashboardHeaderMobile.tsx
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: replace custom hooks with query-based hooks for data fetching in multiple pages to improve consistency and performance
  apps/web/MIGRATION_SUMMARY.md
  apps/web/src/hooks/queries/usePersonByIdQuery.ts
  apps/web/src/hooks/queries/useTeamByIdQuery.ts
  apps/web/src/pages/AccessCodesPage.tsx
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/SchedulePlanningConfigPage.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/ServicesPage.tsx
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/UsersPage.tsx
  apps/web/src/pages/checkin/components/GuestVolunteerModal.tsx
  apps/web/src/pages/people/PersonFormPage.tsx
  apps/web/src/pages/teams/components/AddMemberModal.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add AttendanceCard to MobileDashboard for improved user engagement metrics
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/dashboard/components/StatsCards.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor(beta): integrate React Query for conversations and messages management in ChatProvider to enhance performance and state handling
  apps/web/CHAT_REACT_QUERY.md
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/hooks/queries/useConversationsQuery.ts
  apps/web/src/hooks/queries/useMessagesQuery.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: replace useUsers hook with useUsersQuery across multiple pages for improved data fetching consistency
  apps/web/src/hooks/queries/useUsersQuery.ts
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/UsersPage.tsx
  apps/web/src/pages/chat/components/CreateGroupModal.tsx
  apps/web/src/pages/chat/components/UserSelectionModal.tsx
  apps/web/src/pages/people/PersonFormPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: replace custom hooks with query-based hooks for data fetching in PeopleImportModal and related components to enhance consistency and performance
  apps/web/src/components/people/PeopleImportModal/hooks/usePeopleImport.ts
  apps/web/src/hooks/useChurches.ts
  apps/web/src/hooks/useMinistries.ts
  apps/web/src/hooks/usePeople.ts
  apps/web/src/hooks/useSchedules.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/hooks/useTeams.ts
  apps/web/src/hooks/useUsers.ts
  apps/web/src/pages/access-codes/examples/AccessCodesPageWithSorting.example.tsx
  apps/web/src/pages/ministries/components/MinistryItemCard.tsx
  apps/web/src/pages/teams/components/TeamItemCard.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: adjust layout and padding in TeamDetailsPage and SchedulesMobileListContent for improved responsiveness and visual consistency
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/dashboard/components/ScheduleDetailsModal.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

chore: remove outdated documentation files related to React Query integration and migration summary
  apps/web/src/hooks/queries/useChurchesQuery.ts
  apps/web/src/hooks/queries/useMinistriesQuery.ts
  apps/web/src/hooks/queries/useMinistryLeadersQuery.ts
  apps/web/src/hooks/queries/usePeopleQuery.ts
  apps/web/src/hooks/queries/useSchedulesQuery.ts
  apps/web/src/hooks/queries/useServicesQuery.ts
  apps/web/src/hooks/queries/useTeamMembersQuery.ts
  apps/web/src/hooks/queries/useTeamsQuery.ts
  apps/web/src/hooks/queries/useUsersQuery.ts
  apps/web/src/hooks/queries/utils/queryInvalidations.ts
  docs/frontend/CHAT_REACT_QUERY.md
  docs/frontend/MIGRATION_SUMMARY.md
  docs/frontend/PWA_PRODUCTION_TROUBLESHOOTING.md
  docs/frontend/REACT_QUERY_IMPLEMENTATION.md
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

chore: update documentation to reflect recent changes in team management features and data fetching improvements
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore(api): add runtime specification for NestJS in paasdeploy configuration
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore(api): update paasdeploy configuration to use Node.js runtime and adjust CPU resource allocation
  apps/api/.gitignore
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore: update .gitignore to exclude local environment files and add license to package.json
  .gitignore
  LICENSE
  package.json
Due: none

feat: add new animations and update public route handling in the app
  apps/web/src/App.tsx
  apps/web/src/pages/LandingPage/components/CtaSection.tsx
  apps/web/src/pages/LandingPage/components/FaqSection.tsx
  apps/web/src/pages/LandingPage/components/FeaturesSection.tsx
  apps/web/src/pages/LandingPage/components/FooterSection.tsx
  apps/web/src/pages/LandingPage/components/HeroSection.tsx
  apps/web/src/pages/LandingPage/components/HowItWorksSection.tsx
  apps/web/src/pages/LandingPage/components/Navbar.tsx
  apps/web/src/pages/LandingPage/components/PricingSection.tsx
  apps/web/src/pages/LandingPage/components/ScreenshotsSection.tsx
  apps/web/src/pages/LandingPage/components/StatsSection.tsx
  apps/web/src/pages/LandingPage/components/TestimonialsSection.tsx
  apps/web/src/pages/LandingPage/contexts/LanguageContext.tsx
  apps/web/src/pages/LandingPage/contexts/languageContext.ts
  apps/web/src/pages/LandingPage/hooks/useLanguage.ts
  apps/web/src/pages/LandingPage/hooks/useScrollReveal.ts
  apps/web/src/pages/LandingPage/i18n/translations.ts
  apps/web/src/pages/LandingPage/index.tsx
  apps/web/src/utils/routes.ts
  apps/web/tailwind.config.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

chore: update VSCode settings for Snyk integration and remove paasdeploy configuration file
  .vscode/settings.json
  paasdeploy.json
Due: none

chore: refine VSCode settings for improved development experience and remove outdated paasdeploy configuration
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore(api): update paasdeploy configuration to change context path from relative to current directory
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore: update package dependencies and improve spreadsheet parsing functionality
  apps/api/Dockerfile
  apps/api/paasdeploy.json
  apps/api/package.json
  apps/web/package.json
  apps/web/src/utils/spreadsheet-parser.ts
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec prettier --write

chore(api): update paasdeploy configuration to adjust dockerfile path and context directory
  apps/api/paasdeploy.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore: update package dependencies, improve Dockerfile structure, and refactor language context management
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/paasdeploy.json
  apps/api/package.json
  apps/web/package.json
  apps/web/src/pages/LandingPage/contexts/LanguageContext.tsx
  apps/web/src/pages/LandingPage/contexts/languageContext.ts
  apps/web/src/pages/LandingPage/hooks/useLanguage.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec prettier --write

chore: add new package dependencies for enhanced functionality
  package.json
Due: none

Path conditions:
  pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0: any of: apps/web/**/*.{ts,tsx}
  pnpm --filter @minc-hub/web exec prettier --write: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{json,css,md})
  pnpm --filter @minc-teams/api exec eslint --fix: any of: apps/api/**/*.ts
  pnpm --filter @minc-teams/api exec prettier --write: (any of: apps/api/**/*.ts) or (any of: apps/api/**/*.{json,md})
  pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0: any of: packages/shared/**/*.{ts,tsx}
  pnpm --filter @minc-hub/shared exec prettier --write: any of: packages/shared/**/*.{ts,tsx}
