Repository rafaeljfec2/connexto-minc-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor: Update deploy-api.yml to improve Docker login command by using the -p flag for password, enhancing security and clarity
  .github/workflows/deploy-api.yml
Due: none

refactor: Remove unnecessary useRef hooks from various hooks to simplify state management and improve code clarity
  apps/api/src/chat/chat.gateway.ts
  apps/web/src/hooks/useChurches.ts
  apps/web/src/hooks/useMinistries.ts
  apps/web/src/hooks/usePeople.ts
  apps/web/src/hooks/useSchedules.ts
  apps/web/src/hooks/useServices.ts
  apps/web/src/hooks/useTeams.ts
  apps/web/src/hooks/useUsers.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

refactor: Implement dynamic CORS handling in checkin gateway to allow specific origins, enhancing security and flexibility
  apps/api/src/checkin/checkin.gateway.ts
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

fix(Sidebar): adjust padding to accommodate safe area insets for improved layout on mobile devices
  apps/web/src/components/layout/Sidebar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(api-client): implement token refresh mechanism to handle 401 errors and improve API request resilience
  packages/shared/src/services/api-client.ts
Due: pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor(api-client): enhance request and response interceptors for improved error handling and token management
  packages/shared/src/services/api-client.ts
Due: pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat(SchedulesPage): implement responsive design with mobile and desktop views for schedule management
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/schedules/components/SchedulesDesktopList.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileListContent.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileView.tsx
  apps/web/src/pages/schedules/components/SchedulesSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(chat): add message editing functionality with UI updates for editing messages in chat
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.gateway.ts
  apps/api/src/chat/chat.service.ts
  apps/api/src/chat/dto/update-message.dto.ts
  apps/api/src/chat/entities/message.entity.ts
  apps/api/src/migrations/1768224371772-AddIsEditedToMessages.ts
  apps/web/src/contexts/chat-logic/useChatEventHandlers.ts
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatInput.tsx
  apps/web/src/pages/chat/components/ChatWindow.tsx
  packages/shared/src/services/api-client.ts
  packages/shared/src/services/api/chat-api.service.ts
  packages/shared/src/services/websocket/chat-socket.service.ts
  packages/shared/src/types/index.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat(chat): integrate WebSocket notifications for message updates and enhance ChatController with error handling
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.gateway.ts
  apps/web/src/pages/chat/components/ChatWindow.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat(chat): implement message deletion functionality with WebSocket notifications and UI updates
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.service.ts
  apps/api/src/chat/dto/delete-message.dto.ts
  apps/api/src/chat/entities/message.entity.ts
  apps/api/src/migrations/1768228334712-AddMessageDeletionFields.ts
  apps/web/src/contexts/chat-logic/useChatEventHandlers.ts
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatWindow.tsx
  packages/shared/src/services/api/chat-api.service.ts
  packages/shared/src/services/websocket/chat-socket.service.ts
  packages/shared/src/types/index.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat(chat): enhance chat functionality with helper methods for message processing, unread count calculation, and conversation updates
  apps/api/src/chat/chat.service.ts
  apps/web/src/contexts/chat-logic/useChatEventHandlers.ts
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatInput.tsx
  apps/web/src/pages/chat/components/ChatWindow.tsx
  packages/shared/src/services/api-client.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat(chat): implement long press context menu for chat bubbles with support for touch and mouse events
  apps/web/src/hooks/useLongPress.ts
  apps/web/src/pages/chat/components/ChatBubble.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(mobile-webview): update splash screen background color and enhance loading UI with branding elements
  apps/mobile-webview/app.json
  apps/mobile-webview/assets/splash.png
  apps/mobile-webview/src/App.tsx
  apps/mobile-webview/tsconfig.json
  apps/web/src/pages/chat/components/ChatBubble.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(mobile-webview): improve loading behavior by enforcing minimum splash screen duration and updating loading UI
  apps/mobile-webview/src/App.tsx
Due: none

feat(chat): add audio message functionality with recording support and upload integration
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.gateway.ts
  apps/api/src/chat/chat.module.ts
  apps/api/src/upload/upload.constants.ts
  apps/mobile-webview/app.json
  apps/mobile-webview/src/App.tsx
  apps/web/src/pages/chat/components/ChatInput.tsx
  apps/web/src/pages/chat/components/ChatWindow.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat(chat): refine audio message input with enhanced recording UI and conditional button visibility
  apps/web/src/pages/chat/components/ChatInput.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(chat): enhance ChatBubble and ChatInput components with improved audio message handling and UI updates
  apps/web/public/background-chat.png
  apps/web/src/pages/chat/components/AttachmentMenu.tsx
  apps/web/src/pages/chat/components/AudioPreview.tsx
  apps/web/src/pages/chat/components/AudioRecorder/AudioRecorder.tsx
  apps/web/src/pages/chat/components/AudioRecorder/AudioRecorderUI.tsx
  apps/web/src/pages/chat/components/AudioRecorder/index.ts
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatInput.tsx
  apps/web/src/pages/chat/components/SendButton.tsx
  apps/web/src/pages/chat/components/TextInput.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(chat): add background image and overlay to ChatWindow for improved UI aesthetics
  apps/web/src/pages/chat/components/ChatWindow.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor(ui): update background styles across multiple components to use transparent backgrounds for improved consistency and aesthetics
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/pages/ChatPage.tsx
  apps/web/src/pages/DashboardPage.tsx
  apps/web/src/pages/NewMessagePage.tsx
  apps/web/src/pages/ProfilePage.tsx
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/churches/components/ChurchesMobileView.tsx
  apps/web/src/pages/churches/components/ChurchesSearchBar.tsx
  apps/web/src/pages/ministries/components/MinistriesMobileView.tsx
  apps/web/src/pages/ministries/components/MinistriesSearchBar.tsx
  apps/web/src/pages/people/components/PeopleMobileView.tsx
  apps/web/src/pages/people/components/PeopleSearchBar.tsx
  apps/web/src/pages/schedules/components/SchedulesMobileView.tsx
  apps/web/src/pages/schedules/components/SchedulesSearchBar.tsx
  apps/web/src/pages/services/components/ServicesMobileView.tsx
  apps/web/src/pages/services/components/ServicesSearchBar.tsx
  apps/web/src/pages/teams/components/TeamsMinistryFilters.tsx
  apps/web/src/pages/teams/components/TeamsMobileView.tsx
  apps/web/src/pages/teams/components/TeamsSearchBar.tsx
  apps/web/src/pages/teams/components/TeamsSectionHeader.tsx
  apps/web/src/pages/users/components/UsersMobileView.tsx
  apps/web/src/pages/users/components/UsersSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor(ui): standardize background styles to transparent across search bar components for improved visual consistency
  apps/web/src/pages/chat/components/ChatWindow.tsx
  apps/web/src/pages/churches/components/ChurchesSearchBar.tsx
  apps/web/src/pages/ministries/components/MinistriesSearchBar.tsx
  apps/web/src/pages/people/components/PeopleSearchBar.tsx
  apps/web/src/pages/schedules/components/SchedulesSearchBar.tsx
  apps/web/src/pages/services/components/ServicesSearchBar.tsx
  apps/web/src/pages/teams/components/TeamsSearchBar.tsx
  apps/web/src/pages/users/components/UsersSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(communication): enhance CommunicationPage layout with improved header and message type badges for better user experience
  apps/web/src/pages/CommunicationPage.tsx
  apps/web/src/pages/TeamDetailsPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(mobile-webview): disable caching and enable pull-to-refresh for improved webview performance
  apps/mobile-webview/src/App.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/dashboard/components/DashboardHeaderMobile.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat(mobile-webview): enable caching and DOM storage while maintaining pull-to-refresh functionality for improved webview performance
  apps/mobile-webview/src/App.tsx
Due: none

feat(mobile-webview): add timestamp to URL to prevent caching and ensure updated content while preserving LocalStorage
  apps/mobile-webview/src/App.tsx
Due: none

refactor(mobile-webview): remove timestamp from URL and revert to static WEBSITE_URL for improved caching and performance
  apps/mobile-webview/src/App.tsx
Due: none

feat: update version turbo. Add auth context login
  apps/mobile-webview/package.json
  apps/mobile-webview/src/App.tsx
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/components/routing/ProtectedRouteWrapper.tsx
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/pages/chat/components/ChatListContent.tsx
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add login auto
  apps/web/src/pages/LoginPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: refactory
  apps/web/src/contexts/AuthContext.tsx
  apps/web/src/pages/LoginPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: change servo to Volutários
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/pages/people/components/PeopleDesktopView.tsx
  apps/web/src/pages/people/components/PersonFormModal.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: implement user password change functionality, including new UI components, pages, API endpoints, and services.
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/dto/change-password.dto.ts
  apps/web/src/components/ui/PasswordInput.tsx
  apps/web/src/components/ui/PasswordStrengthIndicator.tsx
  apps/web/src/lib/api.ts
  apps/web/src/navigator/routes.constants.ts
  apps/web/src/navigator/routes.ts
  apps/web/src/pages/ChangePasswordPage.tsx
  apps/web/src/pages/ProfilePage.tsx
  apps/web/src/services/auth.service.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: enhance security and sanitization across web app by implementing Trusted Types, updating Content Security Policy, and sanitizing URLs and text in chat components
  apps/web/index.html
  apps/web/package.json
  apps/web/src/hooks/useSanitize.ts
  apps/web/src/lib/sanitize.ts
  apps/web/src/lib/trusted-types.ts
  apps/web/src/main.tsx
  apps/web/src/pages/chat/components/AudioPreview.tsx
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add SecurityModule to API and update Content Security Policy in web app for enhanced security
  apps/api/src/app.module.ts
  apps/api/src/security/README.md
  apps/api/src/security/dto/csp-report.dto.ts
  apps/api/src/security/security.controller.ts
  apps/api/src/security/security.module.ts
  apps/api/src/security/security.service.ts
  apps/web/index.html
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: implement CSP reporting and storage in database, enhance security with new API endpoints for retrieving CSP reports and critical violation detection
  apps/api/src/migrations/1768416686022-CreateCspReportsTable.ts
  apps/api/src/security/README.md
  apps/api/src/security/dto/get-csp-reports.dto.ts
  apps/api/src/security/entities/csp-report.entity.ts
  apps/api/src/security/scripts/test-csp-report.ts
  apps/api/src/security/security.controller.ts
  apps/api/src/security/security.module.ts
  apps/api/src/security/security.service.ts
  apps/web/CSP_ENFORCEMENT_CHECKLIST.md
  apps/web/src/lib/trusted-types.ts
  apps/web/src/utils/test-csp-violation.ts
  docs/CSP_DATABASE_GUIDE.md
  docs/CSP_MONITORING_GUIDE.md
  docs/XSS_PROTECTION_SUMMARY.md
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat(api): add account activation endpoints and access code management to AuthController
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/dto/access-code-response.dto.ts
  apps/api/src/auth/dto/check-activation.dto.ts
  apps/api/src/auth/dto/complete-activation.dto.ts
  apps/api/src/auth/dto/create-access-code.dto.ts
  apps/api/src/auth/entities/access-code.entity.ts
  apps/api/src/auth/services/activation.service.ts
  apps/api/src/auth/services/temp-activation-token.service.ts
  apps/api/src/migrations/1768485756876-CreateAccessCodesTable.ts
  apps/api/src/migrations/1768502166919-AddUniqueEmailToPersons.ts
  apps/api/src/persons/entities/person.entity.ts
  apps/api/src/persons/persons.controller.ts
  apps/api/src/persons/persons.service.ts
  apps/api/src/users/users.service.ts
  apps/web/src/App.tsx
  apps/web/src/hooks/useAccessCodes.ts
  apps/web/src/hooks/useActivation.ts
  apps/web/src/lib/sanitize.ts
  apps/web/src/navigator/routes.ts
  apps/web/src/pages/AccessCodesPage.tsx
  apps/web/src/pages/ActivateAccountPage.tsx
  apps/web/src/pages/ChurchesPage.tsx
  apps/web/src/pages/CompleteActivationPage.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/access-codes/components/CreateAccessCodeModal.tsx
  apps/web/src/pages/people/components/PersonFormModal.tsx
  apps/web/src/utils/phone-mask.ts
  docs/ATIVACAO_VINCULO_PERSON_USER.md
  docs/ONBOARDING_CODIGO_ACESSO.md
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: restructure sidebar navigation into categorized sections for improved organization and user experience
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/components/layout/SidebarNavItem.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

fix: adjust padding values in CrudPageLayout and AppLayout for consistent layout across different screen sizes
  apps/web/src/components/crud/CrudPageLayout.tsx
  apps/web/src/components/routing/AppLayout.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add PersonFormPage and update routing for creating and editing people in the application
  apps/web/src/navigator/routes.ts
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/people/PersonFormPage.tsx
  apps/web/src/pages/people/components/PersonFormHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

style: update header and form padding for improved layout in PersonFormPage
  apps/web/src/pages/people/PersonFormPage.tsx
  apps/web/src/pages/people/components/PersonFormHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

style: refine padding in PersonFormPage for better layout consistency
  apps/web/src/pages/people/PersonFormPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: update button layout and functionality in PersonFormPage for improved user interaction
  apps/web/src/pages/people/PersonFormPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

Path conditions:
  pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0: any of: apps/web/**/*.{ts,tsx}
  pnpm --filter @minc-hub/web exec prettier --write: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{json,css,md})
  pnpm --filter @minc-teams/api exec eslint --fix: any of: apps/api/**/*.ts
  pnpm --filter @minc-teams/api exec prettier --write: (any of: apps/api/**/*.ts) or (any of: apps/api/**/*.{json,md})
  pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0: any of: packages/shared/**/*.{ts,tsx}
  pnpm --filter @minc-hub/shared exec prettier --write: any of: packages/shared/**/*.{ts,tsx}
