Repository rafaeljfec2/connexto-minc-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

chore: update package dependencies and adjust ajv version to 6.14.0
  package.json
  pnpm-lock.yaml
Due: none

chore: update package dependencies, add @nestjs/core version constraint, and enhance service worker message handling
  apps/api/Dockerfile
  apps/web/public/service-worker.js
  apps/web/src/lib/sanitize.ts
  apps/web/src/pages/TeamDetailsPage.tsx
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/utils/pwa.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

chore(api): simplify Dockerfile by removing package-lock.json and switching to npm install
  apps/api/Dockerfile
Due: none

chore(api): update Dockerfile to use pnpm for dependency management and build process
  apps/api/Dockerfile
Due: none

chore(api): update @nestjs dependencies and add new packages for improved functionality
  apps/api/package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-teams/api exec prettier --write

chore(api): specify package manager version in package.json
  apps/api/package.json
Due: pnpm --filter @minc-teams/api exec prettier --write

chore(api): upgrade @nestjs dependencies to version 11.x and update Node.js engine requirement to >=20.0.0
  apps/api/package.json
  apps/api/src/auth/auth.module.ts
  apps/api/src/main.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

chore(deps): upgrade axios to version 1.15.0 across all packages and enhance service worker message handling for improved security
  apps/web/package.json
  apps/web/public/service-worker.js
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/utils/pwa.ts
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor(service-worker): replace 'self' with 'globalThis' for improved compatibility and streamline event handling; simplify touch and mouse event handling in ChatBubble component
  apps/web/public/service-worker.js
  apps/web/src/pages/chat/components/ChatBubble.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

fix(service-worker): enhance message event handling by validating origin and source URL to improve security
  apps/web/public/service-worker.js
Due: none

Path conditions:
  pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0: any of: apps/web/**/*.{ts,tsx}
  pnpm --filter @minc-hub/web exec prettier --write: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{json,css,md})
  pnpm --filter @minc-teams/api exec eslint --fix: any of: apps/api/**/*.ts
  pnpm --filter @minc-teams/api exec prettier --write: (any of: apps/api/**/*.ts) or (any of: apps/api/**/*.{json,md})
  pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0: any of: packages/shared/**/*.{ts,tsx}
  pnpm --filter @minc-hub/shared exec prettier --write: any of: packages/shared/**/*.{ts,tsx}
