Repository rafaeljfec2/connexto-minc-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx}": [
    "pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0",
    "pnpm --filter @minc-hub/web exec prettier --write"
  ],
  "apps/api/**/*.ts": [
    "pnpm --filter @minc-teams/api exec eslint --fix",
    "pnpm --filter @minc-teams/api exec prettier --write"
  ],
  "packages/shared/**/*.{ts,tsx}": [
    "pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0",
    "pnpm --filter @minc-hub/shared exec prettier --write"
  ],
  "apps/web/**/*.{json,css,md}": [
    "pnpm --filter @minc-hub/web exec prettier --write"
  ],
  "apps/api/**/*.{json,md}": [
    "pnpm --filter @minc-teams/api exec prettier --write"
  ]
}

refactor: Replace ConfirmDialog with Alert component across multiple pages for consistent user feedback; update button variants and modal configurations to enhance user experience.
  apps/web/src/pages/ChurchesPage.tsx
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/MonthlySchedulePage.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/ProfilePage.tsx
  apps/web/src/pages/SchedulePlanningConfigPage.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/ServicesPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/UsersPage.tsx
  apps/web/src/pages/chat/components/ChatInput.tsx
  apps/web/src/pages/profile/components/ProfileHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Add new button variants for action-edit and action-delete; update button usage across multiple pages for improved UI consistency.
  apps/web/src/components/ui/Button.tsx
  apps/web/src/pages/ChurchesPage.tsx
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/ServicesPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/UsersPage.tsx
  package.json
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Update button variants to action-edit and action-delete in PeoplePage and SchedulePlanningConfigPage for improved UI consistency.
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/SchedulePlanningConfigPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Restructure user data response in getCurrentUser method to encapsulate user details within a user object; streamline PERSON_SELECT_FIELDS definition in UsersService for clarity.
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/users/users.service.ts
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: Implement reload functionality in SidebarNavItem to refresh data when the active item is clicked; update onClick handler for improved user experience.
  apps/web/src/components/layout/SidebarNavItem.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Enhance PageHeader component by adding title prop and update SchedulesPage to include month/year filtering and accordion layout for grouped schedules.
  apps/web/src/components/layout/PageHeader.tsx
  apps/web/src/components/ui/Accordion.tsx
  apps/web/src/pages/SchedulesPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Revamp SchedulesPage to enhance team selection display with improved styling and feedback for selected teams, including ministry association and empty state messaging.
  apps/web/src/pages/SchedulesPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add grup chat
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.gateway.ts
  apps/api/src/chat/chat.service.ts
  apps/api/src/chat/dto/create-group.dto.ts
  apps/api/src/chat/entities/conversation-participant.entity.ts
  apps/api/src/chat/entities/conversation.entity.ts
  apps/api/src/migrations/1768050018986-UpdateGroupChatEntities.ts
  apps/web/src/components/layout/SidebarNavItem.tsx
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/chat-logic/useChatActions.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/ChatPage.tsx
  apps/web/src/pages/chat/components/ChatList.tsx
  apps/web/src/pages/chat/components/ConversationItem.tsx
  apps/web/src/pages/chat/components/CreateGroupModal.tsx
  packages/shared/.eslintrc.js
  packages/shared/src/design-tokens/colors.ts
  packages/shared/src/design-tokens/index.ts
  packages/shared/src/design-tokens/spacing.ts
  packages/shared/src/design-tokens/typography.ts
  packages/shared/src/index.ts
  packages/shared/src/services/api-services.ts
  packages/shared/src/services/api/chat-api.service.ts
  packages/shared/src/services/auth-service.ts
  packages/shared/src/types/api-response.ts
  packages/shared/src/types/index.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor: Simplify SchedulesPage by replacing manual accordion item rendering with ScheduleGroupItem component, improving code readability and maintainability.
  apps/web/src/components/schedules/ScheduleCard.tsx
  apps/web/src/components/schedules/ScheduleGroupItem.tsx
  apps/web/src/pages/SchedulesPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: add status group]
  apps/mobile/src/navigator/navigator.tsx
  apps/mobile/src/navigator/navigator.types.ts
  apps/mobile/src/screens/ChatScreen/ChatDetailScreen.tsx
  apps/mobile/src/screens/ChatScreen/ChatScreen.tsx
  apps/mobile/src/screens/ChatScreen/GroupDetailsScreen.tsx
  apps/mobile/src/screens/ChatScreen/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatBubble.tsx
  apps/web/src/pages/chat/components/ChatWindow.tsx
  apps/web/src/pages/chat/components/GroupDetailsModal.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Implement add participant functionality in chat, enhancing group management capabilities
  apps/mobile/src/components/DrawerMenu/DrawerMenu.tsx
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/chat-logic/useChatActions.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/chat/components/ChatWindow.tsx
  apps/web/src/pages/chat/components/GroupDetailsModal.tsx
  packages/shared/src/services/api/chat-api.service.ts
  packages/shared/src/types/index.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

refactor: Clean up layout styles in AppLayout and ChatList components for improved readability and consistency.
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/pages/chat/components/ChatList.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Extract main class name logic into a separate function in AppLayout for improved readability and maintainability.
  apps/web/src/components/routing/AppLayout.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Enhance group management by adding promote to admin functionality and updating user roles in chat components
  apps/mobile/src/components/DrawerMenu/DrawerMenu.tsx
  apps/mobile/src/components/DrawerMenu/navigationHelpers.ts
  apps/mobile/src/constants/mockChatData.ts
  apps/mobile/src/screens/ChatScreen/ChatDetailScreen.tsx
  apps/mobile/src/screens/ChatScreen/ChatScreen.tsx
  apps/mobile/src/screens/ChatScreen/GroupDetailsScreen.tsx
  apps/mobile/src/screens/ChatScreen/components/ConversationItem.tsx
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/chat-logic/useChatActions.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/chat/components/GroupDetailsModal.tsx
  packages/shared/src/services/api/chat-api.service.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: Add functionality to promote members to admin and update group details in chat management
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.service.ts
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/chat-logic/useChatActions.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/chat/components/GroupDetailsModal.tsx
  packages/shared/src/services/api/chat-api.service.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: Add create group from team functionality in chat service and UI components
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.module.ts
  apps/api/src/chat/chat.service.ts
  apps/api/src/users/users.service.ts
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/chat-logic/useChatActions.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/ChatPage.tsx
  apps/web/src/pages/chat/components/ChatList.tsx
  apps/web/src/pages/chat/components/CreateGroupModal.tsx
  apps/web/src/pages/chat/components/CreateGroupTabs.tsx
  apps/web/src/pages/chat/components/TeamGroupCreation.tsx
  packages/shared/src/services/api/chat-api.service.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: Separate admins and members in GroupDetailsModal for improved clarity and management
  apps/web/src/pages/chat/components/GroupDetailsModal.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Enhance user management by adding user existence check and linking personId, update user entity relationship, and improve communication page with attachment and communication type options
  apps/api/src/users/entities/user.entity.ts
  apps/api/src/users/users.service.ts
  apps/web/src/hooks/useUsers.ts
  apps/web/src/pages/CommunicationPage.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/UsersPage.tsx
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: Add canCheckIn property to user management, allowing for check-in permissions in user creation and updates
  apps/api/src/users/dto/create-user.dto.ts
  apps/api/src/users/users.controller.ts
  apps/api/src/users/users.service.ts
  apps/web/src/hooks/useUsers.ts
  apps/web/src/pages/UsersPage.tsx
  packages/shared/src/services/api-services.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write, pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write, pnpm --filter @minc-hub/shared exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/shared exec prettier --write

feat: Replace Select components with ComboBox in UsersPage for improved user experience and search functionality
  apps/web/src/pages/UsersPage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Replace Select components with ComboBox in MinistriesPage, PeoplePage, TeamsPage, and CreateUserForm for enhanced user experience and search capabilities
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/people/components/CreateUserForm.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Remove TODO comments and unused avatar assignment in ChatController and ChatService for cleaner code and improved maintainability.
  apps/api/src/chat/chat.controller.ts
  apps/api/src/chat/chat.service.ts
  docs/.archive/ANALISE_MOBILE_APPROACH.md
  docs/.archive/ANALISE_TECNICA.md
  docs/.archive/BACKLOG_BACKEND.md
  docs/.archive/BACKLOG_MOBILE.md
  docs/.archive/BACKLOG_WEB.md
  docs/.archive/CHECKIN_REFACTORING_ANALYSIS.md
  docs/.archive/INSIGHTS_SUPERAPP.md
  docs/.archive/PLANO_MOBILE_REVISADO.md
  docs/.archive/PROGRESSO_DESENVOLVIMENTO.md
  docs/.archive/REFACTORING_ANALYSIS.md
  docs/.archive/REFACTORING_SUMMARY.md
  docs/.archive/VERCEL_CONFIGURACAO_DASHBOARD.md
  docs/.archive/VERCEL_CONFIGURACAO_FRAMEWORK_SETTINGS.md
  docs/.archive/VERCEL_CORRIGIR_IGNORED_BUILD_STEP.md
  docs/.archive/VERCEL_DEPLOY.md
  docs/.archive/VERCEL_DESABILITAR_IGNORED_BUILD_STEP.md
  docs/.archive/VERCEL_IGNORED_BUILD_STEP_CORRETO.md
  docs/.archive/VERCEL_RESOLVER_AVISO.md
  docs/.archive/VERCEL_SETUP_COMPLETO.md
  docs/.archive/VERCEL_SINCRONIZAR_CONFIGURACOES.md
  docs/.archive/VERCEL_TROUBLESHOOTING.md
  docs/BACKLOG.md
  docs/README.md
  docs/architecture/DATABASE_SCHEMA.md
  docs/backend/API_ENDPOINTS.md
  docs/backend/API_RESPONSE_CONTRACT.md
  docs/backend/BACKEND_STANDARDS.md
  docs/backend/CHAT_API.md
  docs/backend/MIGRATIONS.md
  docs/backend/SETUP.md
  docs/devops/DATA_MIGRATION.md
  docs/devops/ENV_VARIABLES.md
  docs/devops/VERCEL_DEPLOYMENT.md
  docs/frontend/DESIGN_SYSTEM.md
  docs/mobile/QR_CODE_IMPLEMENTATION.md
  docs/mobile/WEB_PATTERN_IMPLEMENTATION.md
  docs/process/BACKLOG.md
  docs/quality/ESLINT_PRETTIER_CONFIG.md
Due: pnpm --filter @minc-teams/api exec eslint --fix, pnpm --filter @minc-teams/api exec prettier --write

feat: Enhance Sidebar with toggle functionality and update SchedulesPage to use parseLocalDate for date handling; improve CreateGroupModal layout and accessibility with responsive design adjustments
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/chat/components/CreateGroupModal.tsx
  apps/web/src/pages/dashboard/components/QuickActionsMobile.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

style: Update styling in ScheduleGroupItem, CheckinPage, SchedulesPage, and DashboardHeaderMobile for improved layout and responsiveness, including adjustments to spacing, font sizes, and padding
  apps/web/src/components/schedules/ScheduleGroupItem.tsx
  apps/web/src/pages/CheckinPage.tsx
  apps/web/src/pages/SchedulesPage.tsx
  apps/web/src/pages/dashboard/components/DashboardHeaderMobile.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

feat: Add NewMessagePage and update routing; enhance AppLayout to accommodate new message view and adjust mobile header visibility
  apps/web/src/components/routing/AppLayout.tsx
  apps/web/src/navigator/routes.ts
  apps/web/src/pages/CommunicationPage.tsx
  apps/web/src/pages/NewMessagePage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Update QuickActions and CreateGroupModal to use Readonly props for better immutability; enhance NewMessagePage and ChatList with improved accessibility by adding htmlFor attributes to labels
  apps/mobile/src/screens/DashboardScreen/QuickActions.tsx
  apps/web/src/pages/NewMessagePage.tsx
  apps/web/src/pages/chat/components/ChatList.tsx
  apps/web/src/pages/chat/components/CreateGroupModal.tsx
  apps/web/src/pages/dashboard/components/DashboardHeaderMobile.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Modularize ChatList component by separating header, search, and content into distinct components; improve conversation filtering logic and enhance loading states for better user experience
  apps/web/src/pages/chat/components/ChatList.tsx
  apps/web/src/pages/chat/components/ChatListContent.tsx
  apps/web/src/pages/chat/components/ChatListDropdown.tsx
  apps/web/src/pages/chat/components/ChatListHeader.tsx
  apps/web/src/pages/chat/components/ChatListSearch.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Export ViewMode type from useViewMode hook; restructure TeamsPage to enhance mobile and desktop views with improved component organization and loading states
  apps/web/src/hooks/useViewMode.ts
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/teams/components/TeamFormModal.tsx
  apps/web/src/pages/teams/components/TeamsDesktopView.tsx
  apps/web/src/pages/teams/components/TeamsMinistryFilters.tsx
  apps/web/src/pages/teams/components/TeamsMobileListContent.tsx
  apps/web/src/pages/teams/components/TeamsMobileView.tsx
  apps/web/src/pages/teams/components/TeamsSearchBar.tsx
  apps/web/src/pages/teams/components/TeamsSectionHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Replace TeamItemCard with TeamListItem in TeamsMobileListContent for improved scalability and updated styling
  apps/web/src/pages/teams/components/TeamListItem.tsx
  apps/web/src/pages/teams/components/TeamsMobileListContent.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Replace button implementation in TeamListItem with CompactListItem for improved styling and functionality
  apps/web/src/components/ui/CompactListItem.md
  apps/web/src/components/ui/CompactListItem.tsx
  apps/web/src/pages/teams/components/TeamListItem.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Update CompactListItem to support edit and delete actions; enhance ChurchesPage and TeamsPage with mobile and desktop views, improving user experience and component organization
  apps/web/src/components/ui/CompactListItem.tsx
  apps/web/src/components/ui/ItemMenuDropdown.tsx
  apps/web/src/pages/ChurchesPage.tsx
  apps/web/src/pages/TeamsPage.tsx
  apps/web/src/pages/churches/components/ChurchListItem.tsx
  apps/web/src/pages/churches/components/ChurchesMobileListContent.tsx
  apps/web/src/pages/churches/components/ChurchesMobileView.tsx
  apps/web/src/pages/churches/components/ChurchesSearchBar.tsx
  apps/web/src/pages/teams/components/TeamListItem.tsx
  apps/web/src/pages/teams/components/TeamsMobileListContent.tsx
  apps/web/src/pages/teams/components/TeamsMobileView.tsx
  apps/web/src/pages/teams/components/TeamsSectionHeader.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Restructure ServicesPage to implement mobile and desktop views, enhancing user experience and component organization; update service form handling and modal integration
  apps/web/src/pages/ServicesPage.tsx
  apps/web/src/pages/services/components/ServiceFormModal.tsx
  apps/web/src/pages/services/components/ServiceListItem.tsx
  apps/web/src/pages/services/components/ServicesDesktopView.tsx
  apps/web/src/pages/services/components/ServicesMobileListContent.tsx
  apps/web/src/pages/services/components/ServicesMobileView.tsx
  apps/web/src/pages/services/components/ServicesSearchBar.tsx
  docs/frontend/DESIGN_SYSTEM.md
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Revamp MinistriesPage to support mobile and desktop views, streamline form handling, and enhance component organization; remove redundant state management and improve modal integration
  apps/web/src/pages/MinistriesPage.tsx
  apps/web/src/pages/ministries/components/MinistriesDesktopView.tsx
  apps/web/src/pages/ministries/components/MinistriesMobileListContent.tsx
  apps/web/src/pages/ministries/components/MinistriesMobileView.tsx
  apps/web/src/pages/ministries/components/MinistriesSearchBar.tsx
  apps/web/src/pages/ministries/components/MinistryFormModal.tsx
  apps/web/src/pages/ministries/components/MinistryListItem.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Enhance CompactListItem and ItemMenuDropdown components to support dynamic menu items; update PeoplePage for improved form handling and mobile/desktop view integration
  apps/web/src/components/ui/CompactListItem.tsx
  apps/web/src/components/ui/ItemMenuDropdown.tsx
  apps/web/src/pages/PeoplePage.tsx
  apps/web/src/pages/ministries/components/index.ts
  apps/web/src/pages/people/components/PeopleDesktopView.tsx
  apps/web/src/pages/people/components/PeopleListItem.tsx
  apps/web/src/pages/people/components/PeopleMobileListContent.tsx
  apps/web/src/pages/people/components/PeopleMobileView.tsx
  apps/web/src/pages/people/components/PeopleSearchBar.tsx
  apps/web/src/pages/people/components/PersonFormModal.tsx
  apps/web/src/pages/people/components/index.ts
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Revise UsersPage to implement mobile and desktop views, enhance form handling with a dedicated UserFormModal, and streamline user data management; improve sorting and filtering functionality
  apps/web/src/pages/UsersPage.tsx
  apps/web/src/pages/users/components/UserFormModal.tsx
  apps/web/src/pages/users/components/UsersDesktopView.tsx
  apps/web/src/pages/users/components/UsersListItem.tsx
  apps/web/src/pages/users/components/UsersMobileListContent.tsx
  apps/web/src/pages/users/components/UsersMobileView.tsx
  apps/web/src/pages/users/components/UsersSearchBar.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Update UsersDesktopView and UsersListItem components to display user avatars; fallback to initials when avatars are not available, enhancing user identification
  apps/web/src/pages/users/components/UsersDesktopView.tsx
  apps/web/src/pages/users/components/UsersListItem.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Extend ThemeContext to support 'system' theme option and update ProfilePage to allow theme selection; enhance user experience with automatic theme adjustments based on system preferences
  apps/web/src/contexts/ThemeContext.tsx
  apps/web/src/pages/ProfilePage.tsx
Due: pnpm --filter @minc-hub/web exec eslint --fix --max-warnings 0, pnpm --filter @minc-hub/web exec prettier --write

refactor: Update ProfilePage to improve theme selection functionality and enhance user experience with automatic theme adjustments based on system preferences
  .github/workflows/deploy-api.yml
Due: none

refactor: Update deploy-api.yml to enhance environment variable handling with default values for SERVER_PORT, GHCR_USER, and DATABASE_URL, improving deployment flexibility
  .github/workflows/deploy-api.yml
Due: none
